<div class="container1">
  <h2>📦 Supplier Panel</h2>

  <nav class="erp-nav">
  <!-- Relative to Supplier-Panel -->
<!-- <a routerLink="/supplier-item-form" routerLinkActive="active">➕ Add Item</a> -->
<!-- <a routerLink="/Supplier-Panel/suppliers" routerLinkActive="active">👥 Suppliers</a> -->

    <a routerLink="supplier-item-form" routerLinkActive="active">➕ Add Item</a> 
    <a routerLink="order-list" routerLinkActive="active">📦 Purchase Orders</a>

    



  </nav>
</div>

<!-- Important: child routes will render here -->
<router-outlet></router-outlet>
